<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
<name replace-wildcards="yes">%h ZYNTHIAN OSC</name>
<service>
<type>_osc._udp</type>
<port>1370</port>
</service>
</service-group>
