<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
<name replace-wildcards="yes">%h ZYNTHIAN MODUI</name>
<service>
<type>_http._tcp</type>
<port>8888</port>
</service>
</service-group>
