[Unit]
Description=Turn on/off Screen Backlight
DefaultDependencies=no
Conflicts=shutdown.target poweroff.target halt.target reboot.target
#After=sysinit.target
Before=shutdown.target poweroff.target halt.target reboot.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c "/bin/echo 0 > /sys/class/backlight/soc:backlight/bl_power"
ExecStop=/bin/sh -c "/bin/echo 1 > /sys/class/backlight/soc:backlight/bl_power"

[Install]
WantedBy=multi-user.target
