[Unit]
Description=Turn on/off Display Backlight
Before=zynthian.service


[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash -c "/bin/echo 0 > /sys/class/backlight/*/bl_power"
ExecStop=/bin/bash -c "/bin/echo 1 > /sys/class/backlight/*/bl_power"

[Install]
WantedBy=multi-user.target
