[Unit]
Description=Bluetooth service
After=jack2.service
Requires=jack2.service

[Service]
ExecStart=/usr/libexec/bluetooth/bluetoothd
TimeoutStopSec=20
Restart=always
RestartSec=5

