[Unit]
Description=Tune CPU performance
Before=jack2.service

[Service]
Type=oneshot
ExecStart=#ZYNTHIAN_SYS_DIR#/sbin/cpu-performance.sh

[Install]
WantedBy=multi-user.target
