[Unit]
Description=Zynthian File Browser

[Service]
Environment=HOME=#ZYNTHIAN_SW_DIR#/filebrowser
WorkingDirectory=#ZYNTHIAN_SW_DIR#/filebrowser
ExecStart=#ZYNTHIAN_SW_DIR#/filebrowser/filebrowser -a #HOSTNAME#.lan
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
