[Unit]
Description=First Boot Script

[Service]
Environment=ZYNTHIAN_SYS_DIR=#ZYNTHIAN_SYS_DIR#
Type=oneshot
ExecStart=#ZYNTHIAN_SYS_DIR#/scripts/first_boot.sh

[Install]
WantedBy=multi-user.target
