[Unit]
Description=Extra jack output for RBPi Headphones
After=jack2.service
Requires=jack2.service

[Service]
Environment=HOME=/root
WorkingDirectory=/root
ExecStart=#JACKD_BIN_PATH#/alsa_out -j Headphones -d hw:Headphones
ExecStartPre=#JACKD_BIN_PATH#/jack_wait -w
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
