[Unit]
Description=JACK2 Audio Server
#After=sound.target

[Service]
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/dbus/system_bus_socket
Environment=LV2_PATH=#LV2_PATH#
LimitRTPRIO=infinity
LimitMEMLOCK=infinity
ExecStart=#JACKD_BINARY# #JACKD_OPTIONS#
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
