[Unit]
Description=Jamulus
After=networking.service
After=jack2.service
Requires=networking.service
Requires=jack2.service

[Service]
Type=simple
User=jamulus
Group=nogroup
NoNewPrivileges=true
ProtectSystem=true
ProtectHome=true
Nice=-20
IOSchedulingClass=realtime
IOSchedulingPriority=0
ExecStart=/usr/local/bin/Jamulus #JAMULUS_OPTIONS#

Restart=on-failure
RestartSec=30
StandardOutput=journal
StandardError=inherit
SyslogIdentifier=jamulus

[Install]
WantedBy=multi-user.target
