[Unit]
Description=MOD-SDK
Requires=mod-ui.service
After=mod-ui.service

[Service]
Environment=HOME=/root
Environment=LV2_PATH=#LV2_PATH#
Environment=MOD_SCREENSHOT_JS=#ZYNTHIAN_SW_DIR#/mod-sdk/screenshot.js
Environment=MOD_PHANTOM_BINARY=/usr/bin/phantomjs
WorkingDirectory=#ZYNTHIAN_SW_DIR#/mod-sdk
ExecStart=#ZYNTHIAN_SW_DIR#/mod-sdk/development_server.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
#WantedBy=network.target
