[Unit]
Description=MOD-HOST: LV2 plugin server
After=jack2.service
Requires=jack2.service

[Service]
#Type=forking
#Environment=HOME=/root
#Environment=LV2_PATH=#LV2_PATH#
#WorkingDirectory=/root
#ExecStart=/usr/local/bin/mod-host
#Restart=always
#RestartSec=2

Type=oneshot
RemainAfterExit=true
ExecStart=#JACKD_BIN_PATH#/jack_load mod-host
#ExecStartPre=#JACKD_BIN_PATH#/jack_load mod-monitor
ExecStop=#JACKD_BIN_PATH#/jack_unload mod-host
#ExecStopPost=#JACKD_BIN_PATH#/jack_unload mod-monitor

[Install]
WantedBy=multi-user.target

