[Unit]
Description=MOD-UI
After=mod-host.service
Requires=mod-host.service

[Service]
Environment=HOME=/root
Environment=LV2_PATH=#LV2_PATH#
Environment=MOD_SCREENSHOT_JS=#ZYNTHIAN_SW_DIR#/mod-ui/screenshot.js
Environment=MOD_PHANTOM_BINARY=/usr/bin/phantomjs
Environment=MOD_DEVICE_WEBSERVER_PORT=8888
Environment=MOD_DEV_ENVIRONMENT=0
Environment=MOD_LOG=0
Environment=MOD_APP=0
Environment=MOD_LIVE_ISO=0
Environment=MOD_SYSTEM_OUTPUT=1
WorkingDirectory=#ZYNTHIAN_SW_DIR#/mod-ui
ExecStart=#ZYNTHIAN_SW_DIR#/mod-ui/server.py
#ExecStartPre=/usr/bin/jack_load mod-host
#ExecStartPre=/usr/bin/jack_load mod-monitor
#ExecStopPost=/usr/bin/jack_unload mod-host
#ExecStopPost=/usr/bin/jack_unload mod-monitor
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target

