[Unit]
Description=mod-sdk
Requires=mod-ui.service
After=mod-ui.service

[Service]
Environment=HOME=/root
Environment=LV2_PATH=/zynthian/zynthian-plugins/lv2:/zynthian/zynthian-my-plugins/lv2
Environment=MOD_SCREENSHOT_JS=/zynthian/zynthian-sw/mod-sdk/screenshot.js
Environment=MOD_PHANTOM_BINARY=/usr/bin/phantomjs
WorkingDirectory=/zynthian/zynthian-sw/mod-sdk
ExecStart=/zynthian/zynthian-sw/mod-sdk/development_server.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
#WantedBy=network.target
