[Unit]
Description=QMidiNet Service
After=networking.service
After=jack2.service
Requires=jack2.service
Wants=networking.service

[Service]
Environment=HOME=/root
WorkingDirectory=/root
ExecStart=#ZYNTHIAN_SYS_DIR#/sbin/midinet.sh
ExecStartPre=/usr/bin/jack_wait -w
Restart=always
RestartSec=5


[Install]
WantedBy=multi-user.target
