[Unit]
Description=Splash Zynthian Logo Screen

[Service]
Environment=ZYNTHIAN_DIR=#ZYNTHIAN_DIR#
Environment=ZYNTHIAN_UI_DIR=#ZYNTHIAN_UI_DIR#
Environment=ZYNTHIAN_SYS_DIR=#ZYNTHIAN_SYS_DIR#
Environment=ZYNTHIAN_CONFIG_DIR=#ZYNTHIAN_CONFIG_DIR#
Environment=FRAMEBUFFER=#FRAMEBUFFER#
Environment=HOME=/root
Type=oneshot
ExecStartPre=#ZYNTHIAN_SYS_DIR#/sbin/pre-splash-screen.sh
ExecStart=#ZYNTHIAN_SYS_DIR#/sbin/splash-screen.sh

[Install]
WantedBy=multi-user.target
