[Unit]
Description=TouchOSC Bridge
After=jack2.service
Requires=jack2.service

[Service]
Environment=MIDO_BACKEND=mido.backends.rtmidi/UNIX_JACK
WorkingDirectory=/root
ExecStart=/usr/local/bin/touchosc2midi
ExecStartPre=/usr/bin/jack_wait -w
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
