[Unit]
Description=Remote desktop service (VNC)
After=syslog.target network.target

[Service]
Type=forking
User=root

Environment=ZYNTHIAN_SYS_DIR=#ZYNTHIAN_SYS_DIR#
Environment=PATH=/bin:/usr/bin:/sbin:/usr/sbin:/usr/local/bin:#ZYNTHIAN_SYS_DIR#/sbin
Environment=HOME=/root

ExecStart=/usr/bin/vncserver -localhost no -rfbauth /root/.vnc/passwd :1
ExecStartPost=/bin/sh -c 'export DISPLAY=:1; env > /root/.remote_display_env'

ExecStop=/usr/bin/vncserver -kill :1
ExecStopPost=rm -f /root/.remote_display_env

[Install]
WantedBy=multi-user.target
