# Vncserver service file for Debian or Ubuntu with systemd
#
#  Install vncserver and tools
#  e.g. apt-get install vnc4server
#
# 1. Copy this file to /etc/systemd/system/vncserver@:1.service
# 2. Edit User=
#    e.g "User=root"
# 3. Edit the vncserver parameters appropriately in the ExecStart= line!
#    e.g. the -localhost option only allows connections from localhost (or via ssh tunnels)
# 4. Run `systemctl daemon-reload`
# 5. Run `systemctl enable vncserver@:<display>.service`
#

[Unit]
Description=Remote desktop service (VNC)
After=syslog.target network.target

[Service]
Type=forking
User=root

Environment=ZYNTHIAN_SYS_DIR=#ZYNTHIAN_SYS_DIR#
Environment=PATH=/bin:/usr/bin:/sbin:/usr/sbin:/usr/local/bin:#ZYNTHIAN_SYS_DIR#/sbin
Environment=HOME=/root

ExecStartPre=/bin/sh -c '/usr/bin/vncserver -kill %i > /dev/null 2>&1 || :'
ExecStart=/usr/bin/vncserver -localhost no %i
ExecStartPost=/bin/sh -c 'export DISPLAY=%i; env > $HOME/.remote_display_env'

ExecStop=/usr/bin/vncserver -kill %i
ExecStopPost=rm -f $HOME/.remote_display_env

[Install]
WantedBy=multi-user.target
