[Unit]
Description=WIFI Setup
After=multi-user.target

[Service]
Environment=ZYNTHIAN_SYS_DIR=#ZYNTHIAN_SYS_DIR#
Environment=ZYNTHIAN_CONFIG_DIR=#ZYNTHIAN_CONFIG_DIR#
Environment=HOME=/root
Environment=PATH=/bin:/usr/bin:/sbin:/usr/sbin:/usr/local/bin:#ZYNTHIAN_SYS_DIR#/sbin
Type=oneshot
ExecStart=#ZYNTHIAN_SYS_DIR#/sbin/set_wifi.sh

[Install]
WantedBy=multi-user.target
