[Unit]
Description=Zynthian PWM controlled fan
After=multi-user.target

[Service]
Environment=PATH=/usr/local/bin:#ZYNTHIAN_SYS_DIR#/sbin:/bin:/usr/bin:/sbin:/usr/sbin
Environment=HOME=/root
#Environment=ZYNTHIAN_LOG_LEVEL=10
Environment=ZYNTHIAN_DIR=#ZYNTHIAN_DIR#
Environment=ZYNTHIAN_UI_DIR=#ZYNTHIAN_UI_DIR#
Environment=ZYNTHIAN_SYS_DIR=#ZYNTHIAN_SYS_DIR#
Environment=ZYNTHIAN_CONFIG_DIR=#ZYNTHIAN_CONFIG_DIR#
WorkingDirectory=#ZYNTHIAN_SYS_DIR#/sbin
ExecStart=/usr/bin/python ./zynthian-pwm-fan.py

#-- :0 vt3
TimeoutStopSec=8
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
