[Unit]
Description=Zynthian Sound Platform
After=jack2.service
Requires=jack2.service

[Service]
Environment=ZYNTHIAN_DIR=/zynthian
Environment=FRAMEBUFFER=#FRAMEBUFFER#
Environment=HOME=/root
Environment=PATH=/bin:/usr/bin:/usr/local/bin:/zynthian/zynthian-sys/sbin
WorkingDirectory=/zynthian/zynthian-ui
ExecStart=/usr/bin/startx ./zynthian.sh -- :0 vt3
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
