[Unit]
Description=Zynthian User Interface
After=jack2.service
Requires=jack2.service

[Service]
Environment=PATH=/usr/local/bin:#ZYNTHIAN_SYS_DIR#/sbin:/bin:/usr/bin:/sbin:/usr/sbin
Environment=FRAMEBUFFER=#FRAMEBUFFER#
Environment=HOME=/root
#Environment=ZYNTHIAN_LOG_LEVEL=10
Environment=ZYNTHIAN_DIR=#ZYNTHIAN_DIR#
Environment=ZYNTHIAN_UI_DIR=#ZYNTHIAN_UI_DIR#
Environment=ZYNTHIAN_SYS_DIR=#ZYNTHIAN_SYS_DIR#
Environment=ZYNTHIAN_CONFIG_DIR=#ZYNTHIAN_CONFIG_DIR#
WorkingDirectory=#ZYNTHIAN_UI_DIR#
ExecStart=/usr/bin/startx ./zynthian.sh
TimeoutStopSec=20
ExecStop=/usr/local/bin/send_osc 1370 /CUIA/EXIT_UI
ExecStop=/bin/sleep 10
#ExecStop=/usr/bin/killall -SIGTERM zynthian_gui.py
#ExecStop=/bin/sh -c "/usr/bin/tail --pid=$MAINPID -f /dev/null"
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
