[Unit]
Description=Zynthian User Interface (DEBUG)
After=jack2.service splash-screen.service
Requires=jack2.service

[Service]
Environment=PATH=/usr/local/bin:#ZYNTHIAN_SYS_DIR#/sbin:/bin:/usr/bin:/sbin:/usr/sbin
Environment=FRAMEBUFFER=#FRAMEBUFFER#
Environment=HOME=/root
Environment=ZYNTHIAN_LOG_LEVEL=10
Environment=ZYNTHIAN_DIR=#ZYNTHIAN_DIR#
Environment=ZYNTHIAN_UI_DIR=#ZYNTHIAN_UI_DIR#
Environment=ZYNTHIAN_SYS_DIR=#ZYNTHIAN_SYS_DIR#
Environment=ZYNTHIAN_CONFIG_DIR=#ZYNTHIAN_CONFIG_DIR#
WorkingDirectory=#ZYNTHIAN_UI_DIR#
# Start X11 with keyboard autorepeat disable (-r)
ExecStart=startx ./zynthian.sh -- -r
TimeoutStopSec=20
ExecStop=send_osc 1370 /CUIA/EXIT_UI
ExecStop=sleep 10
#ExecStop=killall -SIGTERM zynthian_gui.py
#ExecStop=sh -c "/usr/bin/tail --pid=$MAINPID -f /dev/null"
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
