[Unit]
Description=Zynthian Webconf

[Service]
Environment=HOME=/root
Environment=ZYNTHIAN_DIR=#ZYNTHIAN_DIR#
Environment=ZYNTHIAN_CONFIG_DIR=#ZYNTHIAN_CONFIG_DIR#
WorkingDirectory=#ZYNTHIAN_DIR#/zynthian-webconf
ExecStart=#ZYNTHIAN_DIR#/zynthian-webconf/zynthian_webconf.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
